@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');




:root {
    --header-font: 'Arial Rounded MT Bold', sans-serif;
    --text-font: 'Arial Rounded MT Bold', sans-serif;
}

body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none !important;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
}

button,
input,
textarea {
    font-family: var(--text-font);
}

.heroContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(217, 85, 80);
    min-height: 100vh;
    width: 100%;
}

/* Nav Work */
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
}

.pomoLogo {
    max-width: 5%;
}

.navBtn {
    display: flex;
    align-items: center;
}

#reportBtn,
#settingsBtn,
#loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    background: none rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-left: 10px;
    font-size: .8em;
    padding: 8px 12px;
    min-width: 70px;
    border: none;
    color: white;
}

#navH1 #h1logo {
    color: white !important;
    font-size: 1.3em;
}

/* Pomodoro Work */

.pomoContainer {
    padding: 20px 12px 30px;
    max-width: 620px;
    text-align: center;
    color: white !important;
    margin-bottom: 20px;
}

.clockContainer {
    padding: 20px 12px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    max-width: 620px;
    color: white !important;
    margin-bottom: 20px;
    text-align: center;
}

.clockNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

.clockNav button {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1em;
    padding: 2px 12px;
    height: 28px;
    border-radius: 4px;
}

.clockTimer {
    font-size: 7.5em;
    padding: 2px 12px;
    ;
}

.startBtn {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-family: var(--heder-font);
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    width: 200px;
    background-color: white;
}

.pomoCounter {
    opacity: 60%;
    font-weight: 100;
    margin-bottom: 4px;
}

.pomoText {
    font-size: 1.125em;
}

/* Pomo Task Work */
.pomoTask {
    margin: 20px auto 42px;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 14px;
}